* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
}

.width-settings {
    width: 80%;
    margin: 0 auto;
}

.input {
    &_input {
        display: block;
        padding: 3px 6px;
        border-radius: 10px 0;
        border: 1px solid lightblue;
    }
    &_name {
        padding-bottom: 5px;
    }
    &_container {
        padding-top: 5px;
    }
}

.addButton {
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px 0;
    border: none;
    transition: 0.3s ease-in-out;
    background-color: lightblue;
    &:hover {
        cursor: pointer;
        border-radius: 0 10px;
    }
}

.title {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.bookList {
    &_row {
        display: flex;
        &:nth-of-type(1) {
            background-color: lightblue;
            font-weight: 700;
        }
    }
    &_col {
        width: 33%;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }
}